extends layouts/user

block content
    h3 
        span.glyphicon.glyphicon-paperclip
        |  Refill Prescription
    table.table.table-striped.noBottom
        thead
            tr
                th Drug Name
                th Tablets a day
                th Duration
                th Total
                th Days before refill
                th Operate
        tbody
            each refill, index in patient.refills
                tr
                    td= refill.name
                    td= refill.tabletsADay
                    td= refill.duration
                    td= refill.total
                    if (refill.total >= refill.duration * refill.tabletsADay)
                        td No need to refill
                    else
                        - var day = Math.floor(refill.total / refill.tabletsADay)
                        if (day <= 1)
                            td #{day} (Please refill your prescription today!)
                        else
                            td= day
                    td
                        form(method = 'post', action = '/deleteRefill')
                            input(type = 'text', value = refill._id, name = '_id', style = 'display: none')
                            input(type = 'submit', value = 'Delete')
    .addNewDrug.clearfix
        ul.list-unstyled.pull-right
            li
                a(href = '#addNewDrug', data-toggle = 'modal')
                    span.glyphicon.glyphicon-plus
                    |  Add a new drug

    #addNewDrug.modal.fade(tabindex = '-1', role = 'dialog', aria-labelledby = 'newDrugLabel', aria-hidden = 'true')
        .modal-dialog.patient-modal
            .modal-content
                .modal-header
                    button.close(type = 'button', data-dismiss = 'modal')
                        span(aria-hidden = 'true') &times;
                        span.sr-only Close
                    h4#newDrugLabel.modal-title.text-uppercase.text-center Add a new drug
                .modal-body
                    form#newDrug(role = 'form', method = 'post', action = '/addNewRefill')
                        .form-group
                            label(for = 'inputName') Drug Name
                            input#inputDrugName.form-control(type = 'text', name = 'name')
                        .form-group
                            label(for = 'inputTabletsADay') Tablets a day
                            input#inputTabletsADay.form-control(name = 'tabletsADay', type = 'number')
                        .form-group
                            label(for = 'inputDuration') Duration
                            input#inputDuration.form-control(name = 'duration', type = 'number')
                        .form-group
                            label(for = 'inputTotal') Total
                            input#inputTotal.form-control(type = 'number', name = 'total')
                .modal-footer
                    button.btn.btn-default(type = 'button', data-dismiss = 'modal') Close
                    button#submitNewDrug.btn.btn-primary Save
